@model IEnumerable<CIELO_TM.Models.AspNetUsers>

@{
    ViewBag.Title = "Payment";
}
  

@foreach (var a in Model)
{
    @Html.ActionLink("Editar informarcion","","")
    
        <div>
            @Html.DisplayFor(m => a.nombre)
        </div>



        <div>
            @Html.DisplayFor(m => a.Apellido)
        </div>

        <div>
            @Html.DisplayFor(m => a.telefono)
        </div>

        <div>
            @Html.DisplayFor(m => a.MUNICIPIO)
        </div>

        <div>
            @Html.DisplayFor(m => a.PROVINCIA)
        </div>

        <div>
            @Html.DisplayFor(m => a.DIRECCION)
        </div>
}